.todo-li label.line {
  text-decoration: line-through;
  color: red;

}

.todo-li {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

li, ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.todo-from {
  width: 200px;
}

.todo-list,.todo-from {
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: antiquewhite;
}

.container {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
}